body{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: black;
}

.banner{
    position: absolute;
    top: 150px;
    left: 300px;
    height: 400px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    gap: 1px;  
}



.img{
    height: 450px;
    width: 250px;
    transition: 1.25s cubic-bezier(0.1,0.7,0,1);
    filter: grayscale(1) brightness(0.5);
    object-fit: contain;
}
.img:hover{
    transform: translateZ(50px);
    filter: inherit;
}

.img:hover + * {
    transform: translateZ(30px) rotateY(35deg);
}

.img:has(+  :hover){
    transform: translateZ(30px) rotateY(-30deg);
}

